<h1>Edit Task</h1>

<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </div>

  <div>
    <%= f.label :next%>
    <%= f.text_field :next%>
  </div>

  <div>
    <br>
    <%= f.submit "Save"%>
  </div>
<% end %>
