<h1>Add Task</h1>


<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
  </div>

  <div>
    <%= f.label :next%>
    <%= f.text_field :next%>
  </div>


  <div>
    <%= f.submit "Add"%>
  </div>
<% end %>
